body{
    background-image:  url(../img/neonbrand-y_6rqStQBYQ-unsplash.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    padding: 0.3cm;
    width: 100%;
    overflow: hidden;
    color: rgb(88, 188, 235);
    background-repeat: no-repeat; 
  }
  h1{
    text-align: center;
  }
  .Sign #signin{
    padding: 0.6em;
    margin-top: 2%;
    border-radius: 0.5rem;
    outline: none;
    border: solid 1px #cac8c8;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .Sign{
    text-align: center; 
    margin-left: 37%;
    margin-top: 2%;
    background-color: rgba(172, 204, 206, 0.8);
    box-shadow: 0.5em 0.5em 0.5em #9c9c9c;
    margin-bottom: 4%;
    max-width:300px;
    border-radius: 0.5em;
    padding:0.5em;
  }